# Ignore local venv
.venv/

# Python byte-code & caches
__pycache__/
*.pyc
*.pyo

# Local database / data directories
.mongodb/

# Environment files & logs
.env
*.log

# VCS & Docker-related
.git/
.gitignore
.dockerignore

# IDE/editor folders
.idea/
.vscode/
fly.toml
